A {
    color: #eeeeee; /* Цвет ссылок */
    text-decoration: none;
}
A:visited {
    color: #eeeeee; /* Цвет посещенных ссылок */
    text-decoration: none;
}
A:active {
    color: #eeeeee; /* Цвет активных ссылок */
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

header h1 {
    margin-left: 50px;
    flex-grow: 1;
    font-family: Tahoma, serif;
    /*font-style: italic;*/
}

header input {
    margin-right: 50px;
    height: 40px;
    flex-grow: 10;
}

nav {
    background-color: #11009E;
    color: #eeeeee;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom {
    padding: 10px;
    background-color: #11009E;
    color: #eeeeee;
    font-family: Tahoma, serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}


.carousel {
    position: static;
    width: 100%;
    display: inline-flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.item {
    margin-left: 5%;
    width: auto;
    display: inline-flex;
}

.item img {
    max-width: 250px;
    height: auto;
}